.checkout-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #3a3a3a;
  border: 2px solid white;
  border-radius: 12px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.checkout-form input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

.checkout-form button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}